# node dependencies
node_modules/

# compiled js files
*.js

# Editor configuration
.idea/
.vscode/

# Lerna temporary files
package.json.lerna_backup

# Configuration of prettier and ESLint
!.eslintrc.js
!.prettierrc.js

# Output path of the documentation
docs/build
