#leftSide {
    width: 15%;
    min-width: 250px;
}

#bundleControlDiv {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 96.5%;
}

.flex {
    display: flex;
}

.flex-fill {
    flex: 1;
    width: 100%;
}

.flex-column {
    flex-direction: column;
}

#instanceMonaco {
    height: 500px;
}

.margins * {
    margin: 5px 5px;
}

.hidden {
    display: none;
    visibility: hidden;
}

select {
    text-overflow: ellipsis;
}
