<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>streamelements-events sample bundle</title>
        <style>
            body {
                font-family: sans-serif;
            }
            /* don't show container until vue has compiled all templates */
            [v-cloak] {
                display: none;
            }
        </style>
    </head>

    <body>
        <h1>streamelements-events sample bundle</h1>
        <div id="app" v-cloak>
            <p>Newest events of configured streamelements instance:</p>
            <p>
                Last subscriber:
                <span v-if="streamElementsReplicant?.lastSubscriber">
                    {{ streamElementsReplicant?.lastSubscriber?.data.displayName }} subscribed for {{
                    streamElementsReplicant?.lastSubscriber?.data.amount }} months ({{ subTier }}).
                </span>
                <span v-else>none</span>
            </p>
            <p>
                Last subbomb:
                <span v-if="streamElementsReplicant?.lastSubBomb">
                    {{ streamElementsReplicant?.lastSubBomb.gifterUsername }} gifted {{
                    streamElementsReplicant?.subscribers.subs.length }}.
                </span>
                <span v-else>none</span>
            </p>
            <p>
                Last tip:
                <span v-if="streamElementsReplicant?.lastTip">
                    {{ streamElementsReplicant?.lastSubscriber?.data.displayName }} subscribed for {{
                    streamElementsReplicant?.lastSubscriber?.data.amount }} months.
                </span>
                <span v-else>none</span>
            </p>
            <p>
                Last cheer:
                <span v-if="streamElementsReplicant?.lastCheer">
                    {{ streamElementsReplicant?.lastCheer?.data.amount }} bits by {{
                    streamElementsReplicant?.lastCheer?.data.displayName }}.
                </span>
                <span v-else>none</span>
            </p>
            <p>
                Last follow:
                <span v-if="streamElementsReplicant?.lastFollow">
                    {{ streamElementsReplicant?.lastFollow?.data.displayName }}.
                </span>
                <span v-else>none</span>
            </p>
            <p>
                Last raid:
                <span v-if="streamElementsReplicant?.lastRaid">
                    {{ streamElementsReplicant?.lastRaid?.data.displayName }} raided with {{
                    streamElementsReplicant?.lastRaid?.data.amount }} viewers.
                </span>
                <span v-else>none</span>
            </p>
            <p>
                Last host:
                <span v-if="streamElementsReplicant?.lastHost">
                    {{ streamElementsReplicant?.lastHost?.data.displayName }} hosted with {{
                    streamElementsReplicant?.lastHost?.data.viewers }} viewers.
                </span>
                <span v-else>none</span>
            </p>
        </div>

        <script src="index.js"></script>
    </body>
</html>
