name: Linter

on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
    - name: Install nodejs dependencies
      run: npm i
    - name: Run ESLint
      run: npm run lint